<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.kelompok14.modul5progmob">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Modul4progmob">
        <activity
            android:name=".activity.TransactionDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.FinishRentActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ProductActivity"
            android:exported="true" />
        <activity
            android:name=".activity.EditUserActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DashboardAppActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ProfilUserConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RegisterUserActivity"
            android:exported="true" />
        <activity
            android:name=".activity.StartMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>